* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-display: auto;
  font-style: normal;
  font-smooth: auto;
  font-size: 16px;
  line-height: 1;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
span,
label,
input,
button {
  font-family: "Sora", sans-serif;
}

#timeTotal {
  background-color: transparent !important;
}
